html,
body {
  --bs-dark: var(var(--nat-navbar-bg));
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url('/aerobg.png');
  background-size: cover;
}

body .navbar{
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.bg-dark a.dropdown-item{
  color: var(--nat-navbar-bg);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer, footer a{
  color: var(--nat-navbar-text-color);
}

:root{
  --nat-navbar-bg: #3f51b5;
  --nat-navbar-bg-rgb: 50, 70, 100;
  --nat-navbar-text-color: white;
  --nat-navbar-highlight-text: skyblue;
}